<h1>Seguimiento de gastos.</h1>
<mat-card>
  <button (click)="toggleForm()" mat-flat-button color="primary">
    Nuevo Gasto!!
  </button>
  <br />
  <button
    mat-flat-button
    color="primary-red"
    *ngIf="showForm"
    (click)="toggleForm()"
  >
    Cancel
  </button>
</mat-card>

<app-tracking-money-form
  *ngIf="showForm"
  (onSubmit)="onGastoAdded($event)"
></app-tracking-money-form>

<!-- Tabla Gastos registrados -->
<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-56">Gastos registrados</h4>

    <div class="table-responsive">
      <table mat-table [dataSource]="gastos" class="text-nowrap w-100">
        <!-- Id Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell class="fw-medium" *matCellDef="let element">
            {{ element.ID }}
          </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.nombre }}</p>
            <p class="mb-0 fw-normal op-5">{{ element.nombre }}</p>
          </td>
        </ng-container>

        <!-- CostoDelGasto Column-->
        <ng-container matColumnDef="CostoDelGasto">
          <th mat-header-cell *matHeaderCellDef>CostoDelGasto</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">$ {{ element.costo_del_gasto }}</p>
          </td>
        </ng-container>

        <!-- Categoria Column -->
        <ng-container matColumnDef="Categoria">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.categoria }}</p>
          </td>
        </ng-container>

        <!-- Lugar Column -->
        <ng-container matColumnDef="Lugar">
          <th mat-header-cell *matHeaderCellDef>Lugar</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.lugar }}</p>
          </td>
        </ng-container>

        <!-- FechaDelGasto Column-->
        <ng-container matColumnDef="fecha_formateada">
          <th mat-header-cell *matHeaderCellDef>Fecha del gasto</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.fecha_formateada }}</p>
          </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef="Acciones" class="f-w-600 mat-subtitle-1 f-s-14">Acciones</th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(element)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>

              <button mat-menu-item (click)="deleteGasto(element.ID)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nombreFilas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombreFilas"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
