<h1>Seguimiento de gastos.</h1>
<mat-card>
  <button (click)="toggleForm()" mat-flat-button color="primary">
    Nuevo Gasto!!
  </button>
  <br />
  <button
    mat-flat-button
    color="primary-red"
    *ngIf="showForm"
    (click)="toggleForm()"
  >
    Cancel
  </button>
</mat-card>

<h1>EDITAR PRUEBA BETA</h1>
<mat-card>
  <button (click)="edit()" mat-flat-button color="primary">
    EDITAR button BETA
  </button>
</mat-card>

<app-tracking-money-form
  *ngIf="showForm"
  (onSubmit)="onGastoAdded($event)"
></app-tracking-money-form>

<!-- Tabla Gastos registrados -->
<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-56">Gastos registrados</h4>

    <div class="table-responsive">
      <table mat-table [dataSource]="gastos" class="text-nowrap w-100">
        <!-- Id Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell class="fw-medium" *matCellDef="let element">
            {{ element.ID }}
          </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.Nombre }}</p>
            <p class="mb-0 fw-normal op-5">{{ element.Nombre }}</p>
          </td>
        </ng-container>

        <!-- Project CostoDelGasto Column-->
        <ng-container matColumnDef="CostoDelGasto">
          <th mat-header-cell *matHeaderCellDef>CostoDelGasto</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium op-5">{{ element.CostoDelGasto }}</p>
          </td>
        </ng-container>

        <!-- Categoria Column -->
        <ng-container matColumnDef="Categoria">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.Categoria }}</p>
          </td>
        </ng-container>

        <!-- Lugar Column -->
        <ng-container matColumnDef="Lugar">
          <th mat-header-cell *matHeaderCellDef>Lugar</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.Lugar }}</p>
          </td>
        </ng-container>

        <!-- FechaDelGasto Column-->
        <ng-container matColumnDef="fecha_formateada">
          <th mat-header-cell *matHeaderCellDef>Fecha del gasto</th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{ element.fecha_formateada }}</p>
          </td>
        </ng-container>

         <!-- Acciones Column -->
         <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <!-- Botón Editar -->
            <!-- <button mat-icon-button color="primary" (click)="edit(element)">
              <mat-icon>edit</mat-icon>
            </button> -->

            <!-- Botón Eliminar -->
            <!-- <button mat-icon-button color="warn" (click)="edit(element)">
              <mat-icon>delete</mat-icon>
            </button> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nombreFilas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombreFilas"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
