<!--Formulario gastos.-->
<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Registrar un nuevo gasto.</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <form (ngSubmit)="addNewGasto()">
      <div class="row">
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block" for="nombre">Nombre Del Gasto</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Takis de fuego " [(ngModel)]="newGasto.nombre" name="nombre" required />
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block" for="costoDelGasto">Costo Del Gasto</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="5000 " [(ngModel)]="newGasto.costoDelGasto" name="costoDelGasto" required />
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block" for="fechaDelGasto">Día que realizo el gasto</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="date" [(ngModel)]="newGasto.fechaDelGasto" name="fechaDelGasto" required />
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block" for="categoria">Categoria</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(value)]="selectedCategoria" [(ngModel)]="newGasto.categoria" name="categoria" >
              @for(option of categoria; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block" for="lugar">Lugar</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(value)]="selectedlugar" [(ngModel)]="newGasto.lugar" name="lugar">
              @for(option of lugar; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8"  type="submit">Submit</button>
        <button mat-stroked-button color="warn">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
