.snack-bar-container {
  background-color: #4caf50; /* Fondo verde */
  color: white; /* Texto en blanco */
  padding: 16px; /* Añadir padding */
  font-size: 30px; /* Tamaño de la fuente */
  text-align: center; /* Centrar el contenido */
}
